@font-face {
    font-family: Sigmar;
    src: url('./fonts/Sigmar-Regular.otf') format('opentype');
    src: url('./fonts/Sigmar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Play;
    src: url('./fonts/Play-Regular.otf') format('opentype');
    src: url('./fonts/Play-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: FjallaOne;
    src: url('./fonts/FjallaOne-Regular.otf') format('opentype');
    src: url('./fonts/FjallaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: CastoroTitling;
    src: url('./fonts/CastoroTitling-Regular.otf') format('opentype');
    src: url('./fonts/CastoroTitling-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: BrunoAce;
    src: url('./fonts/BrunoAceSC-Regular.otf') format('opentype');
    src: url('./fonts/BrunoAceSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: JosefinSans;
    src: url('./fonts/JosefinSans-VariableFont_wght.otf') format('opentype');
    src: url('./fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Bebas;
    src: url('./fonts/BebasNeue-Regular.otf') format('opentype');
    src: url('./fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#font-bebasneue{
    font-family: Bebas;
}
#font-brunoace {
    font-family: BrunoAce;
}
#font-castorotitling {
    font-family: CastoroTitling;
}
#font-fjallaone {
    font-family: FjallaOne;
}
#font-josefinsans {
    font-family: JosefinSans;
}
#font-play {
    font-family: Play;
}
#font-sigmar {
    font-family: Sigmar;
}

:root {
    --calcCurrencyColor: #96CD86;
    --whatsmyipcolor: rgb(178, 184, 233);
    --chatgptcolor:#b285ec; 
    --font-family:Sigmar;
    --font-size:12px;
}
* {
    font-family: var(--font-family);
    font-size: var(--font-size);
}


body {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    background-color: rgb(210, 255, 242);
}


/*todoapp style*/
#todoapp{
    background-color: rgb(255, 195, 105);
    border: 4px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
    text-align: center;
}
#getKeyBox{
    border: 2px solid black;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
    width: fit-content;
    background-color: rgb(180, 161, 133);
}
#request_new_api:hover, #sumbitnewtaskbtn:hover{
    background-color: rgb(255, 186, 122);
    cursor: pointer;
}
#toDoList {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
#newtodo{
    background-color: rgb(180, 161, 133);
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    margin: 4px;
    width: fit-content;
}
#newToDotitle, #todocategory, #request_new_api, #email, #username{
    background-color: blanchedalmond;
    border: solid 2px black;
}
#todo_edit_title, #todo_edit_category, #todo_edit_duedate,#checkboxtext{
    background-color: blanchedalmond;
    border: solid 2px black;
    margin-right: 4px;
    padding: 2px;
    cursor: pointer;
}
#dueDateInput, #sumbitnewtaskbtn{
    background-color: blanchedalmond;
    border: solid 2px black;
    margin-top: 4px;
}
#todo_edit_submit, #close_edit_box{
    background-color: blanchedalmond;
    border: solid 2px black;
    margin-top: 4px;
}
#todo_edit_submit:hover, #close_edit_box:hover,#todo_edit_done{
    background-color: rgb(255, 186, 122);
    cursor: pointer;
}
.toDoItem{
    background-color: rgb(180, 161, 133);
    border: 2px solid black;
    margin: 4px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: visible;
    border-radius: 8px;
}
.toDoItem:hover {
    scale: 1;
    background-color: rgb(173, 130, 89);
}
.edit-todo {
    position: absolute;
    left: 5px;
    top: 5px;
    visibility: hidden;
}
.toDoItem:hover .edit-todo {
    visibility: visible;
}
.edit-todo:hover {
    scale: 1.2;
    visibility: visible;
    cursor: pointer;

}
.todo-title {
    margin-left: 30px;
}
.toDoItem p {
    flex:1.5;
    font-size: 16px;
    pointer-events: none;
}
.toDoItem span {
    flex: 0.75;
    font-size: 15px;
    pointer-events: none;
}
.toDoItem div{
    margin: auto;
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: center;
}
img.deleteTask, img.notDoneTask, img.taskOverdue {
    cursor: pointer;
}
.due_date-done {
    text-decoration:line-through;
}
.categoryTag{
    border: 2px solid rgb(0, 0, 0);
    padding: 4px;
    padding-left:12px;
    padding-right: 12px;
    border-radius: 16px;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
}
.todo-request-api {
    width: auto;
}
.Urgent{
    background-color: rgb(255, 47, 47);
}
.Cleaning{
    background-color: aquamarine;
}
.Work{
    background-color: rgb(255, 168, 134);
}
.Gardening{
    background-color: rgb(93, 192, 90);
}
.Shopping{
    background-color: rgb(255, 159, 234);
}
.Cooking{
    background-color: rgb(255, 243, 72);
}

/* Lånad kod från w3schools: https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    margin: auto;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
  
    /* Position the tooltip */
    position: absolute;
    right: 75%;
    z-index: 1;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    pointer-events: none;
  }
  .tooltip .tooltiptext.taskOverdue::after   {
    content: " - Task Overdue";
  }
  .tooltip .tooltiptext.notDoneTask::after   {
    content: " - Not Done";
  }
  .tooltip .tooltiptext.doneTask::after   {
    content: " - Done"; 
  }


.todo_edit_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    pointer-events:stroke;
    box-sizing: border-box;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    backdrop-filter: blur(5px);
    pointer-events: all;
}
.todo_edit_container{
    display: flex;
    background-color: rgb(255, 195, 105);
    min-height: 200px;
    min-width: 50%;
    border: 4px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    pointer-events: all;
    z-index: 100;
}
.toDoItemEdit{
    margin: 4px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    pointer-events: visible;
}
#buttons_edit_container{
    margin-left: 15px;
}
#editconttitle{
    text-align: center;
}

/*________*/
#bored{
    background-color: rgb(211, 193, 255);
    border: 4px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
}
#drinks{
    background-color: palevioletred;
    border: 4px solid black;
    border-radius: 8px;
    padding: 8px;
}
#weather{
    background-color: lightblue;
    border: 4px solid black;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 16px;
}
#weather img{
    display: flex;
}
#weather p {
    display: flex;
}

.apiview {
    flex: 1;
    flex-basis: 33%;
    max-width: calc(33% - 40px);
    min-height: 150px;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bigview {
    flex: 2;
    flex-basis: 66%;
    max-width: calc(66% - 40px);
}
@media screen and (max-width: 900px) {
    .apiview {
        flex: 1;
        flex-basis: 50%;
        max-width: calc(50% - 40px);
    }
    .bigview {
        flex: 2;
        flex-basis: 100%;
        max-width: calc(100% - 40px);
    }
    .apiview:nth-child(5) {
        order: 1;
    }
} 

/*Whats my ip*/
.apiview .whats-my-ip-container {
    flex: 1;
    margin:auto;
}
.whats-my-ip-container {
    background-color: var(--whatsmyipcolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 4px black solid;
    border-radius: 8px;
}
@media only screen and (max-width: 1550px) {
    .whats-my-ip-container {
        flex-direction: column;
    }
}
.whats-my-ip-inner-contaimer {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    resize: both;
}
.whats-my-ip-your-ip {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.whats-my-ip-your-ip p {
    margin-left: 10px;
}
.whats-my-ip-response {
    display: flex;
    flex-flow: column;
}
.whats-my-ip-map-container {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
#input-ip {
    text-align: center;
}
#response-map {
    width: 250px;
    height: 250px;
    z-index: 1;
}

/*Currency Calculator*/
.currency-calculator {
    display: flex;
    flex-flow: column;
    background-color: var(--calcCurrencyColor);
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
    border-radius: 10px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
}
.currency-head {
    text-align: center;
}
.currency-toolbar-row {
    display: flex;
    flex-flow: row;
    flex: 1;
    margin: 0;
    padding: 0;
    border: 1px;
    border-color: black;
    border-style: solid;
    align-items: center;
}
.currency-toolbar-row-left {
    flex: 2;
    padding: 10px;
    min-width: 0;
    background-color: var(--calcCurrencyColor);
    border: none;
    margin: 0;
    overflow: auto;
}
.currency-toolbar-row-right {
    flex: 4;
    padding: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    border: none;
    margin: 0;
}

.left-small-flex {
    flex: 1;
    padding: 5px;
    padding-left: 1px;
    padding-right: 0px;
}

.right-small-flex {
    flex: 2;
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    background-color:var(--calcCurrencyColor);
    padding: 7px;
    padding-left: 0;
    padding-right: 0;
}
.right-small-flex option {
    white-space: nowrap;
    width: 100%;
    border-bottom:  1px black solid;
}


/*Chat gpt*/
.chatgpt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--chatgptcolor);
    border: 4px black solid;
    border-radius: 8px;
}
.chatgpt-column {
    display: flex;
    flex-flow: column;
}
.chatgpt-column h3 {
    margin: 0;
    text-align: center;
    padding: 5px;
}
.chatgpt-question-container{
    display: flex;
    flex-flow: row;
    border: 5px black solid;
    border-radius: 10px;
    margin: 5px;
}
#chatgpt-question {
    flex:5;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    padding: 5px;
}
#btn-submit-question {
    flex: 1;
    border: none;
    padding: 0;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 5px black solid;
}
.chatgpt-answer-status {
    margin: 5px;
    padding: 5px;
    background-color: white;
    border: 5px black solid;
    border-radius: 10px;
}
.chatgpt-answer-status:hover {
    cursor: pointer;
}
#chatgpt-answer {
    padding: 5px;
    margin: 5px;
    height: auto;
    resize: vertical;
    min-height: 50px;
    border: 5px black solid;
    border-radius: 10px;
}


/*Settings Menu*/
.hidden {
    visibility: hidden;
    display: none;
}
.settings-menu {
    position: fixed;
    pointer-events: none;
    box-sizing: border-box;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#btn-settings {
    pointer-events:all;
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
    margin-right: 25px;
    padding: 5px;
    width: 40px;
    background-color: white;
    border: 4px black solid;
    border-radius: 40px;
}
#btn-settings:hover {
    background-color: gray;
    cursor: pointer;
}

#menu-settings {
    pointer-events:all;
    position: absolute;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.settings-container {
    border: 4px black solid;
    border-radius: 15px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-flow: column;
}